*{
    font-family: 'Comme', sans-serif;
    font-family: 'Iceland', cursive;
    font-family: 'Jost', sans-serif;
    
}

*,::after,::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*Ensemble des propriétés css du header et de la navbar
*/
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
}
.ledivdelanavbar{
    z-index: 100;
    top: 0;
    position: fixed;
    width: 100%;
    
}
li{
    list-style: none;
    text-align: center;
}

.navbaree{
    height: auto;
    min-height: 90px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: background-color 0.5s ease-in-out;
    flex-wrap: wrap;    
    
}

.navbaree-scroll{
    
    background-color: black;
    transition: background-color 0.25s ease-in-out;
    height: auto;
}

.background_menu_téléphone{
    background-color: #000000;
}

.bouton_accueil{
    background: url(images/icons8-double-droite-64.png);
    background-size: cover;
    mix-blend-mode: normal;
    border: 1px solid #ffffff;
    border-radius: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transform: matrix(0, 1, 1, 0, 0, 0);
    width: 120px;
    height: 120px;
    z-index: 1;
}
.div1{
    display: flex;
    flex-grow: 1;
    font-size: 30px;
    justify-content: center;
    width: auto;
    align-items: center;
    margin-left: 20px;
    
    
}

.div2{
    display:flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}


.liste_navbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: center;
    margin: 0px;
    padding: 0px;   

}

nav>div+div>ul>li{
    margin-right: 20px;
    margin-left: 20px;
    white-space : nowrap;
    
}



nav>div+div>ul>li>a{
    font-size: 35px;
    text-decoration: none;
    color: white;
    scroll-behavior:smooth;
    

}


nav>div>span>a{
    text-decoration: none;
    color: white;
}


header{
    
    display: flex;  
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:rgb(0 0 0 / 51%);
   
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}

header video{
    overflow: hidden;
    position: absolute;
    top: 0;
    background-color:rgb(0 0 0 / 51%);
    z-index: -50;
    min-width: 100%;
    height: 100%;
    
    
   
}

header::before{
    position: absolute;
   content: "";
    height: 100%;
    width: 100%;
    
    background-color: #00000073;
}

nav>div+div>ul>li:last-child{
    margin-right: 0px;
}

.div-titre{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    
    height: 1100px;    
    z-index: 70;
    margin-bottom: 100px;
    color: white;
}

.h1-header{
    font-size: 150px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    line-height: 140px;
    text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red;
}

.sous_paragraphe_titre{
    white-space: nowrap;
    text-shadow: 1px 1px 1px black;
    font-size: 50px;
    margin-top: 4%;
    margin-bottom: 3%;
}

/*bouton pour mobile*/

.lien-compétences-projets{
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    border-color: #000000;
    border-style: solid;
    border-radius: 10px;
    background-color: #000000;  
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    white-space: nowrap;
    
}

/*fin des propriétes du header et de la navbar*/
.section-présentation{
    display: flex;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 4em;
    padding-bottom: 4em;
    flex-direction: row;
    background-color: #f5f5f5;
    background-size: cover;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

.surligne{
    height: 3px;
    background-color: #fff;
    transition: 0.5s;
    width: 0%;

}
li:hover .surligne{
    width: 100%;
}


.menu-hamburger{
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    width: 55px;
}

.conteneur-section-présentation{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    -webkit-box-shadow: 3px 7px 10px 2px rgba(0,0,0,0.35); 
    box-shadow: 3px 7px     10px 2px rgba(0,0,0,0.35);

}
.divgaucheprésentation{
    display: flex;
    flex-direction: column;
    
    padding: 80px;
    justify-content: center;
    width: 50%;
    flex-grow: 1;
    
}

.divdroiteprésentation{
    width: 50%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    margin-bottom: 30px;
    
}
.texte-présentation{
    color: #000000;
    text-align: left;
    font-size: 1.35em;
}
.imagepresentation{
    width: 100%;
    border-radius: 10px ;
    margin-bottom: 50px;
}
.titre_présentation{
    color: #000000;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 20px;
    
}
/*bouton du cv*/
.wrapper {
    display: flex;
    justify-content: center;
  }
  
  .cta {
      display: flex;
      padding: 10px 45px;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 30px;
      color: white;
      background: #000000;
      transition: 1s;
      box-shadow: 6px 6px 0 black;
      transform: skewX(-15deg);
  }
  
.cta:focus {
     outline: none; 
  }
  
.cta:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 #FBC638;
  }
  
.cta span:nth-child(2) {
      transition: 0.5s;
      margin-right: 0px;
}
  
.cta:hover  span:nth-child(2) {
      transition: 0.5s;
      margin-right: 45px;
  }
  
.décale{
    transform: skewX(15deg) 
}
  
span:nth-child(2) {
      width: 20px;
      margin-left: 30px;
      position: relative;
      top: 12%;
}
    
  
path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}
  
path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}
  
.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.ninja{
    
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.692);
    z-index: 100000000000000000;
    display: none;
}

.pasvisible{
    display: none;
}

.projet-header{
    display: flex;
}
.div-apparitions-image{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-apparitions-texte{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
}
.conteneur-apparition{
  border-radius: 20px;
  width: 55%;
  
  padding: 10px;
  max-height: 93vh;
  overflow-y: auto;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 30;
  background-color: black;
  color: #fff;
  
    
}
.image-github{
    width: 80%;
}
.apparition-texte{
    width: 100%;
    text-align: center;
    display: flex;
    height: 50%;
    justify-content: flex-end;
    flex-direction: column; 
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    
}

.apparition-gauche{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    flex-grow: 1;
    margin-bottom: 3%;
    align-items: center;
    
    
}
.apparition-titre{
    text-align: center;
    font-size: 3em;
    margin-left: 20px;
}



.Objectif-projets{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:auto;
    margin-bottom: 3%;
    margin-top: 3%;
}
.lien-github{
    font-size: 20px;
    width: auto;
    color: #fff;
    border-color: #fff;
    border-style: solid;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 1%;
    cursor: pointer;
    white-space: nowrap;
    padding: 5px;
}

.github{
    margin-left: 2%;
}

.lien-github:hover{
    color: black;
    background-color: white;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
}

.buton:focus .navbaree{
    background: none;
}
.sous-titre-apparition{
    white-space: nowrap;
    font-size: 2em; 
    text-align: center;
}
.sous-titre-objectifs{
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: 2em;
    text-align: center;
    white-space: nowrap;
}
.apparition-droite{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 3%;
}
.flou-wrapper{
    position: relative;
}
.preuve{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
div.preuve> h1.sous-titre-objectifs {
        margin-right: 20px;
}
.div-titre-apparition{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-apparition{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 20px;
}

.image-apa{
    width:50%;
    object-fit: cover;
    
}
.image_special{
    
    width: 100%;
    max-width: 500px;
    max-height: 250px;
    object-fit: cover;
}
.try{
    font-size: 2em;
}


.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}
  
  /* SVG animations */
@keyframes color_anim { 
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}
/*fin style bouton cv */
/*effet appatition*/
[class*="reveal-"] {
    opacity: 0;
    transform: translateY(-30px)
}

.reveal-visible{
    opacity:1;
    transform: translateY(0);
    transition-duration: 1s;
}

.reval-2{
    transition-delay: .1 s;

}

.reval-3{
    transition-delay: .2s;
}
/*fin du style apparaiyion*/

.mobile-menu{
    margin-left: 0;
}
/*style de la section compétences*/

.sectioncompétences{
    height: auto;
    background-color:  #f5f5f5;
    
}
.titrecompétences{
    margin-bottom: 5%;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    white-space: nowrap;
}
.texte-projets-apparition{
    font-size: 1em;
    text-align: center;
    font-weight: 800;
}
.texte-objectif{
    font-size: auto;
    text-align: center;
    font-weight: 800;
}
.sous-titre-objectifs{
    text-align: center;
}
.Objectif-projets{
    width: 100%;
}
.container{
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 3em;
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
}

.row{
    flex-grow: 1;
    width: 100%;
    display: flex;
    
    justify-content: center;
    flex-direction: row;
}

.card:first-child{
    margin-left: 0px;
    margin-right: 60px;
}
.card:last-child{
    margin-left: 60px;
    margin-right: 0px;
}
.by{
    color: #fff;
    text-decoration: none;

}
.by:hover{
    
    border-bottom: #fff 3px solid;
}
.fin{
    color: #fff;
    font-size: 25px;
}
.madeby{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    color: #fff;
}
.card:hover{
    box-shadow: 6px 10px 10px 2px rgba(0,0,0,0.35);
}
.card{
    padding-top: 10px;
    margin-bottom: 3%;
    padding-bottom: 2%;
    background-color: #fff;
    flex-wrap: wrap;
    border-radius: 10px 10px ;
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 3px 7px 10px 2px rgba(0,0,0,0.35); 
    box-shadow: 3px 7px     10px 2px rgba(0,0,0,0.35);
    
}
.card-texte{
    display: flex;
    font-size: 20px;
    flex-direction: column;
    width: auto;    
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
   
}

.card-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    
    flex-grow: 1;
}
.image-compétences{
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.titre-card{
    
    text-align: center;
    margin-top: 20px;
    font-size: 34px;
    margin-bottom: 20px;
    
}

.sous-titre-card{
    margin-bottom: 10%;
    font-size: 28px;
}

.section-projets{
    background-color: #f5f5f5;
    height: auto;
}

.container-projets{
    display: flex;
    flex-direction: column;
    padding-left: 15em;
    padding-right: 15em;
    padding-top: 3em;
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
    height: auto;
    
}
.titre_projets{
    text-align: center;
    font-size: 80px;
    margin-bottom: 5%;
}
.divs-card-texte{   
    display: flex;  
    justify-content: center;
    width: auto;
    flex-wrap: wrap;
}



.paragraphe_projets{
    text-align: center;
    font-size: 25px;

}

.div_titre_projet{
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.div-ligne-projets{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    
}

.ligne-haut{
    margin-bottom: 1%;
}
.ligne-bas{
    margin-top: 1%;
}
.card-projets{  
    justify-content: center;
    display: flex;
    opacity: 1;
    border-radius: 1px;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    z-index: 2;
    flex-grow: 1;
    width: 31%;
    align-items: center ;
    
  
    border-radius: 20px;
    
}
.card-projets-seuls{
    display: flex;
    height: min-content;
    
    justify-content: center;
    align-items: center;
    width: min-content;
    border-radius: 21px;
    flex-grow: 0.5;
}
.image-projet-seul{
    width: 100%;
    height: 400px;
    display: flex;
    position: relative;
    border-radius: 20px;
    object-fit: cover;  
}

.test{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



.contient-texte{
    position: absolute;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity .5s;
    color: white;
    width: auto;
    height: auto;
}

.texte-projets{
    font-size: 43px;
    margin-bottom: 20px;
    text-align: center;
}

.lien_projets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    font-size: 20px;
    text-align: center;
}


.card-projets:hover{
    background-image: linear-gradient(to right, #000000, #171216, #231e27, #292b3b, #283b4f);
    
}
.card-projets-seuls:hover .contient-texte{
    opacity: 1;
}


.card-projets:hover .contient-texte{
    opacity: 1;
    
}
.contient-texte .deux-lignes {
    justify-content: flex-start;
}


.image-card_projets{
    width: 100%;
    border-radius: 20px;
    z-index: 0;
    height: 100%;
    object-fit: cover;
    
}
.ligne-projets-seul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 2%;
    

}


.card-projets-seuls:hover .image-projet-seul {
    opacity: 0.4;
    
    transition: opacity .5s;
}
.card-projets-seuls:hover{
    background-image: linear-gradient(to right, #000000, #171216, #231e27, #292b3b, #283b4f);
}


.card-projets:hover .image-card_projets{
    opacity: 0.4;
    transition: opacity .5s;
}

.div-apparition_projets{
    opacity: 0;
    flex-grow: 1;
    display: flex;
    transition-duration: 0.2s;
    position: absolute;
    width: auto;
    height: 20%;
    z-index: 1  ;
}
.show{
    display: flex;
}

.buton-apparition{
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 3em;
}
.card-spécial{
    width: 36%;
}

.image-grande{
    width: 40%;
    object-fit: cover;
}
.buton {
    margin-top: 20px;
    border: none;
    padding: 20px 40px;
    font-size: 25px;
    position: relative;
    background: transparent;
    color: white;
    text-transform: uppercase;
    border: 3px solid white;    
    cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;
    border-radius: 80px;
  }

 
  .effet{
    transition: all 0.7s;
    z-index: -1;
  }



  ligne_bas-plus{
    margin-top: 10em;
  }
    .ligne-haut-plus{
        margin-bottom: 10%;
    }


.retour{
    flex-wrap: wrap;
}


.ligne-handicapé{
    margin-bottom: 1%;
    margin-top: 2%;
}

.div-bouton{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

footer{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
   
    
}
.contient{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.titre-reseaux{
    color: #fff;
    font-size: 50px;
    text-align: center;
    white-space: nowrap;
}
input{
    height: 50px;
    width: 60%;
    padding: 2%;
    outline: none;
    border-radius: 20px;
    font-size: 30px;


}
.modal-input{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
}

.nom-reseau{
    font-size: 30px;
    color: #fff;
    margin-left: auto;
    text-align: center;
    text-decoration: none;
}

.message-modal-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
}
.titre-contact{
    color: #fff;
    font-size: 80px;
}

.formulaire-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
textarea{
    width: 60%;
    height: 200px;
    padding: 2%;
    border-radius: 20px;
    font-size: 30px;
    border: none;
    outline: none;
    resize: none;
}
.formulaire-bouton{
    margin-top: 2%;
    width: 25%;
    justify-content: center;
    display: flex;
    margin-bottom: 2%;
}
.bouton_contact{
    margin-top: 2%;
    background-color: #000000;
    font-size: 20px;
    border-radius: 10px;
    border-color: #fff;
    color: #fff;
    width: 100%;
    height: 50px;
}
.bouton_contact:hover{
    background-color: #fff;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

i:hover{
    cursor: pointer;
}

.logo-reseau{
   width: 80;
  -webkit-transition:-webkit-transform .9s; 
  -moz-transition:-moz-transform .9s;       
  -o-transition:-o-transform .9s;           
  -ms-transition:-ms-transform .9s;        
  transition:transform .9s
  
}

.unreseau{
    display: flex;
    width: auto;
    justify-content: center;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    flex-direction: row;
    align-items: center;
    
}
.contient-titre-reseau{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.logo-reseau:hover{
    -webkit-transform:rotate(360deg); 
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg); 
  -ms-transform:rotate(360deg); 
  transform:rotate(360deg);
}
.lesreseaux{
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.lesreseaux2{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
}

.partie-reseau{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width:1550px){
    .container-projets{
        padding-left: 3em;
        padding-right: 3em;
   
    }
}

.decalage-reseau{
    display: flex;
    flex-direction: column;
    
}

@media  screen and (max-width:1130px) and (min-width:650px) {
    .div-ligne-projets{
        flex-wrap:wrap;
    }
    .card-projets{
        width: 45%;
       
    }
    .contient-texte{
        opacity: 1;
    }
    .image-card_projets{
        opacity: 0.4;
    }
    .card-projets{
        background-image: linear-gradient(to right, #000000, #171216, #231e27, #292b3b, #283b4f);
    }
    .card-projets-seuls{
        width: 55%;
    }
    
    .margehautbas{
        margin-bottom: 3%;
        margin-top: 3%;
    }
    
    .images-spécial{
        height: 500px;
      }
    input{
        width: 70%;
    }
    textarea{
        width: 70%;
    }
}
@media screen  and (max-width:1250px){
    .conteneur-apparition{
        width: 75%;
    }
}
    

@media screen and (max-width:1300px) {
    .container{
        padding-left: 8em;
        padding-right: 8em; 
        flex-direction: row;
        
    }
    .image-apparition{
        flex-direction: column;
        align-items:center ;
    }
    .conteneur-apparition{
        width: 80%;
    }
    .div-apparitions-texte{
        width: 100%;
        margin-left: 0;
    }
    .row{
        
        flex-direction: column;
        justify-content: start;
        width: 50%;
        flex-grow: 1;
    }
    
    .competences_haut{
        margin-bottom: 10%;
    }
    .row:first-child{
        margin-right: 5%;
        justify-content: flex-start;
    }
    .card{
        width: 100%;
       
    }
    .card:first-child{
        margin-right: 0;
    }
    .card:last-child{
        margin-left: 0;
    }
    
}





/*media screen pour l'appartion du menu en mode portable ou petit écran */
@media screen  and (max-width:1000px) {
    .menu-hamburger{
        display: block;
        
        
    }
    .contient{
        flex-direction: column;
        
    }
    .lesreseaux,.lesreseaux2{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .surligne{
        background-color: #000000;
    }
    .unreseau{
        margin-right: 3%;
        margin-left: 3  %;
    }
    .unreseau:last-child{
        margin-right: 0%;
    }
    .apparition-titre{
        font-size: 2.5em;
    }

    .image-github{
        width: 60%;
    }
    
    .div-apparitions-image{
        height: 100%;
        width: 80%;
    }
    .image-apparition{
        flex-direction: column;
        align-items: center;
    }
    p{
        margin: 5px 0;
    }
    .apparitions-texte{
        justify-content: center;
    }
    
    .conteneur-apparition{
        width: 100%;
    }
    
    .texte-change{
        text-align: left;
    }
    .card-projets{
        background-image: linear-gradient(to right, #000000, #171216, #231e27, #292b3b, #283b4f);
    }
    .contient-texte{
        opacity: 1;
    }
    .image-card_projets{
        opacity: 0.4;
    }
    
    .navbaree{
        
        transition: background-color 0.25s ease-in-out;
        height: auto;
    }
    nav > div + div > ul > li > a{
        font-size: 35px;
       
        color: black;
    }
    nav > div + div > ul > li {
        margin-top: 40px;
        margin-bottom: 20px;
        text-align: center;
        
    }
    nav > div + div > ul > li:last-child {
        margin-top: 10px;
        text-align: center;
        
    }
    div.div2{  
        top: 0  ; 
        margin-top: 30px;
        position: absolute;
        
        width: 100%;
        
        margin-top: -1000px;
        
    }
    .liste_navbar{
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    .div2.mobile-menu{
        margin-top: 0;
        height: 100vh;
        transition: all 0.5s ease;
        justify-content: center;
        align-items: center;
        z-index: -100;
        backdrop-filter: blur(15px);
        background-color: rgba(255, 255, 255, 0.692);
        width: 100%;
    }
    
    .navbaree{
        background-color: #000000;
    }
     
    div.div1{
        justify-content: flex-start;
        align-self: center;
    }
    .texte-projets-apparition{
        font-size: 24px;
    }
    .texte-objectif{
        font-size: 25px;
    }
    .sous-titre-objectifs{
        font-size: 2.5em;
    }
    .sous-titre-apparition{
        font-size: 2.5em;
    }
}
@media screen and (max-width:680px){
    .titre_haut_depage{
        font-size: 90px;
    }
    .card-projets-seuls{
        width: 100%;
        height: 400px;
    }
    .div-ligne-projets{
        flex-direction: column;
        
        align-items: center;
    }
    .card-projets{
        width: 100%;
        height: 450px;
        flex-wrap: nowrap;
        
    }
    .buton-apparition{
        right: 3%;
    }
    .margehautbas{
        margin-bottom: 3%;
        margin-top: 3%;
    }
    
    
    .sous_paragraphe_titre{
        font-size: 40px;
    }
    input,textarea{
        width: 90%!important;
    }
    .titre-contact{
        font-size: 60px;
        margin-left: 10%;
        margin-right: 10%;
        white-space: nowrap;
    }
}

/*format extra large-large*/
@media screen and (max-width:1200px) and (min-width:960px){
    .divgaucheprésentation{
        justify-content: flex-start;
    }
    .section-présentation{
        padding-left: 3em;
        padding-right: 3em;
    }
    .cta{
        font-size: 23px;
    }
    
    
    
}

@media screen and (max-width:960px) and (min-width:875px){
    .divgaucheprésentation{
        justify-content: flex-start;
        width: 60%;
    }
    .section-présentation{
        padding-left: 2em;
        padding-right: 2em;
    }
    .imagepresentation{
        width: 100%;
    }
    .cta{
        width: auto;
    }
}

@media screen and (max-width:875px){
    .section-présentation{
        padding-left: 2em;
        padding-right: 2em;
        
    }
    .cta{
        font-size: 20px;
    }
    
    .conteneur-section-présentation{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .divgaucheprésentation{
        width: 100%;
    }
    .divdroiteprésentation{
        width: auto;
        justify-content: center;
        margin-right: 0;
        
    }
    .texte-présentation{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .titre_présentation{
        margin-bottom: 100px;
    }
    .container{
        flex-direction: column;
        padding-left: 2em;
        padding-right: 2em;
    }

    .row:first-child{
        margin-right: 0;
    }
    .row{
        width: 100%;
        align-items: center ;
    }
    .card{
        width: 90%;
        margin-bottom: 10%;
    }
    .titrecompétences{
        font-size: 65px;
    }
    .card:last-child{
        margin-left:0px ;
    }
    .card:first-child{
        margin-right: 0px;
    }
    
    .container-projets{
        padding-right: 1em;
        padding-left: 1em;
    }
    

}
@media screen and (max-width:525px){
    .titrecompétences{
        font-size: 55px ;
    }
}




.space-btn {
	position: relative;
	font-family: 'Electrolize', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 0.125em;
	line-height: 1;
	color: #fff;
	margin: 0;
	padding: 1em;
	background: none;
	border: none;
	cursor: pointer;
}

.space-btn:hover {
	color: lighten(#fff, 20%);
}

.space-btn:focus {
	color: lighten(#fff, 10%);
	outline: none;
}

.space-btn:active {
	color: #fff; 
}

.space-btn:before,
.space-btn:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
}

.space-btn:before {
	top: 0;
	left: 0;
	box-shadow: inset 1px 1px 0 0 #fff; 
}

.space-btn:after {
	right: 0;
	bottom: 0;
	box-shadow: inset -1px -1px 0 0 #fff; 
}

.space-btn:hover:before {
	animation: hoverShadowBefore 1s forwards;
}

.space-btn:hover:after {
	animation: hoverShadowAfter 1s forwards;
}

@keyframes hoverShadowBefore {
	0% {
		width: 100%;
		height: 1px;
		top: 0;
		left: 0;
	}
	33% {
		width: 1px;
		height: 100%;
		top: 0;
		left: 0;
	}
	66% {
		width: 1px;
		height: 1px;
		top: calc(100% - 1px);
		left: 0;
	}
	100% {
		width: 100%;
		height: 1px;
		top: calc(100% - 1px); 
		left: 0;
	}	
}

@keyframes hoverShadowAfter {
	0% {
		width: 100%;
		height: 1px;
	}
	33% {
		width: 1px;
		height: 100%;
		bottom: 0;
		right: 0;
	}
	66% {
		width: 1px;
		height: 1px;
		bottom: calc(100% - 1px);
		right: 0;
	}
	100% {
		width: 100%;
		height: 1px;
		bottom: calc(100% - 1px);
		right: 0;
	}
}




